*terraform/environments/dev/terraform.tfvars
*.zip
*/layer/python
**/versiful_frontend/
.idea/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.pytest_cache/
.venv/

# VS/JetBrains/Node
.idea/
node_modules/

# Environment variables
.env
.env.test.generated

# Ignore Terraform state files (VERY IMPORTANT!)
*.tfstate
*.tfstate.backup

# Ignore Terraform crash logs
crash.log

# Ignore Terraform variable files with sensitive data
*.tfvars
*.tfvars.json

# Ignore Terraform plan output files
*tfplan

# Ignore generated `.terraform` directory (Terraform downloads plugins & dependencies here)
.terraform/
#.terraform.lock.hcl

# Ignore Terraform logs (if any exist)
*.log

# Ignore Terraform provider cache (if enabled)
.terraform.d/plugin-cache/

# Ignore Terraform execution temp files
terraform.tfstate.d/

# Ignore Terraform CLI configuration
.terraformrc
terraform.rc

# Misc
.DS_Store
.python-version
**/__pycache__/
.scannerwork/
*/__pycache__/
lambdas/layers/*/python/
lambdas/layers/*/*.zip
DEPLOYMENT_SUMMARY.md
terraform/modules/s3/config.json
terraform/modules/s3/versiful-contact.vcf
terraform/state-backup-*.json
